rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {

      // only authenticated users can create a document
      allow create: if request.auth != null;

      // allows read and delete if the id in JWT token matches the resource id that we are trying to access
      allow read, delete: if request.auth.uid == resource.data.uid;
          
    }
  }
}